<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
    <form method="POST" onsubmit="return myFunction()" th:action="@{/profile/editPassword}" th:object="${userDto}">
         <span class="validationError"
               th:if="${#fields.hasErrors('global')}"
               th:errors="*{global}"></span><br/>
        <label for="password">Пароль: </label>
        <input type="password" id="password" name="password" pattern="^(?=.*[0-9])(?=.*[A-z]).{4,20}" title="Только латиница и цифры, не менее 4 и не более 20 символов" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"></span><br/>
        <input type="checkbox" id="showPassword"> Показать пароль<br/>
        <label for="confirm">Подтверждение пароля: </label>
        <input type="password" id="confirm" name="confirm" required/><br/>
        <input type="checkbox" id="showConfirm"> Показать пароль<br/>
        <span class="validationError" id="confirmMessage"
              th:if="${#fields.hasErrors('confirm')}"
              th:errors="*{confirm}"></span>
        <br/>
        <label for="oldPassword">Старый пароль: </label>
        <input type="password" name="oldPassword" required/><br/>
        <input type="submit" value="Изменить пароль"/>
    </form>
    <script src="/js/matchPassword.js"></script>
    <script src="/js/showPassword.js"></script>
</body>
</html>