<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
    <form method="POST" th:action="@{/profile/edit}" th:object="${userDto}">
        <label for="email">Почта: </label>
        <input th:value="${userDto.getEmail()}" type="email" name="email"
               pattern="^[_A-Za-z0-9-+](.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"></span><br/>
        <label for="fullname">Полное имя: </label>
        <input th:value="${userDto.getFullname()}" type="text" name="fullname"/><br/>
        <label for="city">Город: </label>
        <input th:value="${userDto.getCity()}" type="text" name="city"/><br/>
        <label for="phone">Телефон: </label>
        <input th:value="${userDto.getPhone()}" type="tel" name="phone"/><br/>
        <label for="birth">Дата рождения: </label>
        <input th:value="${userDto.getBirth()}" type="date" name="birthText"/><br/>
        <label for="information">Обо мне: </label>
        <input th:value="${userDto.getInformation()}" type="text" name="information"/><br/>
        <input th:value="${oldEmail}" type="hidden" name="oldEmail"/>
        <input type="submit" value="Подтвердить изменения"/>
    </form>
</body>
</html>