<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

    <a th:href="@{/}">Главная</a><br/>
    <a th:href="@{/about}">О проекте</a><br/><br/>
    Имя: <span th:utext="*{userDto.getUsername()}"></span></br>
    Почта: <span th:utext="*{userDto.getEmail()}"></span><br/>
    Полное имя: <span th:utext="*{userDto.getFullname()}"></span><br/>
    Город: <span th:utext="*{userDto.getCity()}"></span><br/>
    Телефон: <span th:utext="*{userDto.getPhone()}"></span><br/>
    Дата рождения: <span th:utext="*{userDto.getBirth()}"></span><br/>
    Пол: <span th:utext="*{userDto.getGender()}"></span><br/>
    Фото: <span th:utext="*{userDto.getPhoto()}"></span><br/>
    Обо мне: <span th:utext="*{userDto.getInformation()}"></span><br/>
    Дата регистрации: <span th:utext="*{userDto.getDateRegistration()}"></span><br/>

    <form method="POST" th:action="@{logout}">
        <input type="submit" value="Выйти из аккаунта"/>
    </form>
    <br/>
<!--    как сделать относительную ссылку?-->
    <a th:href="@{/profile/edit}">Редактирование</a><br/>
    <a th:href="@{/profile/editPassword}">Изменить пароль</a><br/>
    <a th:href="@{/profile/editUsername}">Изменить имя</a>

</body>
</html>