<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

    <a th:href="@{/}">Главная</a><br/>
    <a th:href="@{/about}">О проекте</a><br/><br/>

    Ник: <span th:utext="*{user.getUsername()}"></span><br/>
    Почта: <span th:utext="*{user.getEmail()}"></span><br/>
    Полное имя: <span th:utext="*{user.getFullname()}"></span><br/>
    Город: <span th:utext="*{user.getCity()}"></span><br/>
    Телефон: <span th:utext="*{user.getPhone()}"></span><br/>
    Дата рождения: <span th:utext="*{user.getBirth()}"></span><br/>
    Пол: <span th:utext="*{user.getGender()}"></span><br/>
    Фото: <span th:utext="*{user.getPhoto()}"></span><br/>
    Обо мне: <span th:utext="*{user.getInformation()}"></span><br/>
    Дата регистрации: <span th:utext="*{user.getDateRegistration()}"></span><br/>

    <form method="POST" th:action="@{logout}">
        <input type="submit" value="Выйти из аккаунта"/>
    </form>
    <br/>
<!--    как сделать относительную ссылку?-->
    <a th:href="@{/profile/edit}">Редактирование</a><br/>
    <a th:href="@{/profile/editPassword}">Изменить пароль</a>

</body>
</html>