<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <a th:href="@{/}">Главная страница</a><br/>
    <a th:href="@{/login}">Вход</a><br/>
    <form method="POST" th:action="@{/registration}" th:object="${userDto}">
        <label for="username">Ник: </label>
        <input type="text" name="username"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}"></span><br/>
        <label for="email">Почта: </label>
        <input type="email" name="email"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"></span><br/>
        <label for="password">Пароль: </label>
        <input type="password" name="password"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"></span><br/>
        <label for="confirm">Подтверждение пароля: </label>
        <input type="password" name="confirm"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('confirm')}"
              th:errors="*{confirm}"></span>
        <br/>
        <input type="submit" value="Зарегистрироваться"/>
    </form>
</body>
</html>

