<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

</head>

<body>
    <a th:href="@{/}">Главная страница</a><br/>
    <a th:href="@{/login}">Вход</a><br/>
    <form id="registrationForm" method="POST" th:action="@{/registration}" th:object="${userDto}">
       <span class="validationError"
              th:if="${#fields.hasErrors('global')}"
              th:errors="*{global}"></span><br/>
        <label for="username">Ник: </label>
        <input type="text" name="username" pattern="([\w]*)([а-яА-я]*)|([а-яА-Я]*)([\w]*)" title="Имя не должно содержать спецсимволов" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}"></span><br/>
        <label for="email">Почта: </label>
        <input type="text" name="email"
               pattern="^[_A-Za-z0-9-+](.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"></span><br/>
        <label for="password">Пароль: </label>
        <input type="password" id="password" name="password" pattern="^(?=.*[0-9])(?=.*[A-z]).{4,20}" title="Только латиница и цифры, не менее 4 и не более 20 символов" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"></span><br/>
        <input type="checkbox" id="showPassword"> Показать пароль<br/>
        <label for="confirm">Подтверждение пароля: </label>
        <input type="password" id="confirm" name="confirm"/>
        <span class="validationError" id="confirmMessage"
              th:if="${#fields.hasErrors('confirm')}"
              th:errors="*{confirm}"></span>
        <br/>
        <input type="checkbox" id="showConfirm"> Показать пароль<br/>
        <input type="submit" value="Зарегистрироваться"/>
    </form>
    <script src="/js/matchPassword.js"></script>
    <script src="/js/showPassword.js"></script>
</body>
</html>

